// LIGHT THEME COLORS
$light-theme: (
    "bg-header-aside": rgba(246, 246, 249, 0.96),
    "bg-overlay": rgba(246, 246, 249, 0.3),
    "bg": #F6F6F9,
    "bg-secondary": #ECECEF,
    "bg-button-hover": #7156f8,
    "text": #1B1A22,
    "text-secondary": #5A5A66,
    "text-button": #FDFDFE,
    "border": #93939E,
    "placeholder": #A3A3AD,
    "input-bg": #FDFDFE,
    "red": #FF0000,
    "purple": #7B61FF,
);

// DARK THEME COLORS
$dark-theme: (
    "bg-header-aside": rgba(20, 20, 20, 0.96),
    "bg-overlay": rgba(0, 0, 0, 0.3),
    "bg": #141414,
    "bg-secondary": #1d1d1d,
    "bg-button-hover": #7156f8,
    "text": #e6e6e6,
    "text-secondary": #dadada,
    "border": #93939E,
    "placeholder": #a0a0a1,
    "input-bg": #1B1A1F,
    "red": #FF0000,
    "purple": #7B61FF
);

// DEFAULT LIGHT THEME
:root {
    @each $key, $value in $light-theme {
        --#{$key}: #{$value};
    }
}

// DARK THEME WHEN body.dark-theme
body.dark-theme {
    @each $key, $value in $dark-theme {
        --#{$key}: #{$value};
    }
}

// COLORS
$color-header-black: rgba(0, 0, 0, 0.9);
$color-overlay-black: rgba(0, 0, 0, 0.3);
$color-black: #000;
$color-white: #fff;
$color-dark-gray: #212121;
$color-gray: #9C9A9A;
$color-light-gray: #DDDDDD;
$color-input-gray: #C9C9C9;
$color-red: #FF0000;
$color-purple: #7B61FF;