// COLORS
$color-black: #000;
$color-white: #fff ;
$color-light-gray: #DDDDDD;
$color-gray: #9C9A9A;
$color-input-gray: #C9C9C9;
$color-red: #FF0000;
$color-purple: #7B61FF;

// FONT WEIGHT
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extrra-bold: 800;