@use './_vars.scss';

.air-datepicker {
    background: var(--bg-secondary);
    color: var(--text);
    border: 1px var(--border) solid;
    border-radius: 15px;
    box-shadow: 9px 9px 18px 0 rgb(156, 154, 154, 0.6);
    width: 260px;
    font-size: 18px;
}

.air-datepicker-body--day-name {color: var(--purple);}

.air-datepicker-cell.-selected-,
.air-datepicker-cell.-selected-.-focus- {
    background-color: var(--purple);
    color: var(--text-button);
}

.air-datepicker-cell.-focus- {
    background-color: var(--purple);
    color: var(--text-button);
}

.air-datepicker-cell.-current- {color: var(--purple);}

.air-datepicker-nav {border-bottom: none;}

.air-datepicker-nav--title i {color: var(--text);}

.air-datepicker-button {
    color: var(--purple);
    background: var(--bg-secondary);
    border-radius: 15px;
    font-size: 15px;
    border: 1px var(--border) solid;
}

.air-datepicker-button:hover {
    color: var(--purple);
    background: var(--bg-overlay);
}

.air-datepicker--buttons {border-top: none;}

.air-datepicker-cell.-other-month- {
    color: var(--purple);
    opacity: 0.6;
}

.air-datepicker-cell.-disabled- {
    background: none;
    color: var(--text);
    opacity: 0.12;
    &:hover {color: var(--text);}
}

.air-datepicker--pointer::after {
    background: var(--placeholder);
    border-color: var(--border);
    margin-top: 1px;
}