.air-datepicker {
    background: #C9C9C9;
    color: #000;
    border-radius: 15px;
    box-shadow: 9px 9px 18px 0 rgb(156, 154, 154, 0.6);
    width: 260px;
    font-size: 18px;
}

.air-datepicker-body--day-name {color: #7B61FF;}

.air-datepicker-cell.-selected-,
.air-datepicker-cell.-selected-.-focus- {
    background-color: #7B61FF;
    color: #fff;
}

.air-datepicker-cell.-focus- {background-color: rgba(123,97,255, 0.2);}

.air-datepicker-cell.-current- {color: #fff;
}

.air-datepicker-nav {border-bottom: none;}

.air-datepicker--nav-action path {fill: #9C9A9A;}

.air-datepicker-nav--title i {color: #000;}

.air-datepicker-button {
    color: #7B61FF;
    background: #DDDDDD;
    border-radius: 15px;
    font-size: 15px;
}

.air-datepicker-button:hover {
    color: #7B61FF;
    background: #fff;
}

.air-datepicker--buttons {border-top: none;}

.air-datepicker-cell.-other-month- {
    color: #7B61FF;
    opacity: 0.6;
}

.air-datepicker-cell.-disabled- {
    background: none;
    color: #000;
    opacity: 0.12;
    &:hover {color: #000;}
}

.air-datepicker--pointer::after {
    background: #C9C9C9;
    border-top-color: #C9C9C9;
    margin-top: 2px;
}