@use './_vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    letter-spacing: 0.5px;
}

html {width: 100%;}

body {
    position: relative;
    font-family: 'Source Sans 3', serif;
    font-weight: 400;
    font-optical-sizing: auto;
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}
body.body_no_scroll {overflow: hidden;}
body.dark-theme .logo {
    content: url("/src/img/miatour-logo-dark.svg");
}

.wrapper {margin: 0 5%;}

@media (max-width: 767.98px ) {
    .wrapper {margin: 0 10%;}
}

@media (max-width: 575.98px ) {
    .wrapper {margin: 0 8%;}
}

h5 {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 1px;
}

@media (max-width: 575.98px) {
    h5 {font-size: 24px;}
}

a {all: unset; cursor: pointer;}

// HEADER
@keyframes SlideFromTop {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

.header_countries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    z-index: 3;
    background: var(--bg-header-aside);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    animation: SlideFromTop 1s ease-out forwards;
    .logo {
        display: block;
        height: 50px;
        width: 195px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .filter {
            display: flex;
            width: 60px;
            height: 40px;
            background: var(--purple);
            color: var(--text-button);
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .search {
            position: relative;
            input {
                position: relative;
                height: 40px;
                padding: 0 20px 0 50px;
                background: transparent;
                border: 1px var(--border) solid;
                border-radius: 20px;
                z-index: 1;
                font-size: 18px;
                color: var(--text);

                &::placeholder {
                    font-size: 18px;
                    color: var(--placeholder);
                }

                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    appearance: none;
                    display: none;
                }

                &::-moz-search-clear {
                    display: none;
                }
            }

            i {
                position: absolute;
                color: var(--placeholder);
                z-index: 2;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
                font-size: 24px;
                transition: color .3s ease;
            }

            &:focus-within i {color: var(--purple);}
        }

        a {
            font-size: 32px;
            position: relative;
            i {
                font-size: 20px;
                position: relative;
                top: -2px;
                right: -5px;
                transition: right 0.3s ease, color 0.3s ease;
            }

            @media (pointer: fine) {
                &:hover{i {
                    right: 0;
                    color: var(--purple);
                }}
            }
        }
    }
}

.countries_all {
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
    position: relative;
    z-index: 2;
    .country {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            cursor: pointer;
            span {
                width: 75px;
                height: 57px;
                border-radius: 15px;
                border: 1px var(--border) solid;
                box-sizing: border-box;
            }
            h5 {
                font-size: 24px;
                margin-left: 20px;
                width: 200px;
                font-weight: 500;
            }
    }
    h1 {
        font-size: 36px;
        text-wrap: wrap;
        width: 350px;
        margin-bottom: 50px;
        text-align: center;
        font-style: italic;
        font-weight: 600;
    }

    .central_america,
    .south_america,
    .australia_oceania,
    .caribbean,
    .africa {margin-top: 50px;}
}