@use 'vars';

.overlay_window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    &.active {display: block;}

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-overlay);
        backdrop-filter: blur(0.5px);
        z-index: 10;
    }

    .overlay {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3% 0;
        width: 65%;
        background: var(--bg-secondary);
        border-radius: 24px;
        z-index: 20;

        i{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 30px;
            cursor: pointer;
            color: var(--text-secondary);
        }

        .overlay_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;

            .info_left {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 50%;
                h2 {
                    color: var(--text);
                    font-size: clamp(20px, 2vw, 28px);
                    font-weight: 700;
                }
                .keen_gallery {
                    margin-top: 10px;
                    display: grid;
                    gap: 10px;
                    .main-slider {
                        width: 100%;
                        aspect-ratio: 16 / 9;
                        border-radius: 15px;
                        overflow: hidden;
                            .keen-slider__slide {
                                display: grid;
                                place-items: center;
                                img {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    border-radius: 15px;
                                }
                            }
                    }
                    .thumb-slider {
                        width: 100%;
                        .keen-slider__slide {
                            cursor: pointer;
                            border-radius: 15px;
                            overflow: hidden;

                            img {
                                display: block;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                aspect-ratio: 4 / 2.5;
                            }
                        }
                    }
                }
            }

            .info_right {
                width: 45%;
                color: var(--text-secondary);
                div {
                    h5 {
                        font-weight: 700;
                        font-size: clamp(16px, 2vw, 24px);
                    }
                    h6 {
                        margin-bottom: 15px;
                        font-size: clamp(14px, 1.2vw, 18px);
                    }
                }
                p {font-size: clamp(14px, 1.4vw, 20px); }
            }
        }
    }
}