@use 'vars';

.overlay_window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    &.active {display: block;}

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: vars.$color-overlay-black;
        backdrop-filter: blur(0.5px);
        z-index: 10;
    }

    .overlay {
        position: relative;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3% 0;
        width: 65%;
        background: vars.$color-dark-gray;
        border-radius: 24px;
        z-index: 20;

        i{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 35px;
            cursor: pointer;
            color: vars.$color-gray;
        }

        .overlay_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 90%;
            padding: 0 5%;

            .info_left {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                h2 {
                    font-family: "Playfair Display DC";
                    color: vars.$color-light-gray;
                    font-size: 2.5vw;
                    font-weight: 700;
                }
                .splide {
                    margin-top: 30px;
                    .splide__track {
                        border-radius: 24px;
                        overflow: hidden;
                        .splide__list {
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .splide__arrows {
                        .splide__arrow {
                            width: 40px;
                            height: 40px;
                            background: rgba(0, 0, 0, 0.5);
                            svg {fill: #fff;}
                        }
                    }
                }
            }

            .info_right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80%;
                width: 45%;
                color: vars.$color-light-gray;
                div {
                    h5 {font-size: 2.1vw; font-weight: 700;}
                    h6 {font-size: 1.8vw;}
                }
                p {font-size: 1.9vw;}
            }
        }
    }
}