@use 'vars';

.splide {
        margin-top: 50px;

        .splide__track {
            width: 75%;
            margin: 0 auto;
            .splide__list {
                .splide__slide {

                    .review_item {
                        color: vars.$color-gray;
                        background: vars.$color-dark-gray;
                        border-radius: 24px;
                        padding: 0 5%;
                        font-family: 'Playfair Display';
                        font-size: 24px;
                        font-weight: 700;

                        .review_header {
                            display: flex;
                            justify-content: space-between;
                            padding-top: 30px;

                            p {
                                display: flex;
                                align-items: center;
                                line-height: 35px;
                                width: 120px;
                                text-wrap: balance;

                                &:last-of-type {text-align: right;}
                            }

                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }

                        .review_info {
                                text-align: center;
                            .hotel_name {
                                color: vars.$color-light-gray;
                                margin-top: 20px;
                            }

                            img {
                                width: 140px;
                                height: 20px;
                            }

                            .review_text {
                                font-family: "Playfair Display SC";
                                line-height: 35px;
                                margin: 20px 0;
                                padding-bottom: 30px;
                            }
                        }
                    }
                }
            }
        }

        .splide__arrows {
            .splide__arrow {
            background: vars.$color-purple;
            color: vars.$color-white;
            width: 70px;
            height: 70px;
            opacity: 1;
            }
    }
}

@media (max-width: 767.98px ) {
    .splide {
        margin-top: 20px;
        .review_header {
        p {font-size: 20px;}
        }

        .review_info {
            .hotel_name {font-size: 20px;}
            .review_text {font-size: 20px;}
        }

        .splide__arrows {
            .splide__arrow {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media (max-width: 575.98px ) {
    .splide {
        margin-top: 20px;
        .splide__track {
            width: 90%;
            .splide__list {
                .splide__slide {
                    .review_item {
                        padding: 0 10%;
                    }
                }
            }
        }
        .review_header {
        p {font-size: 18px;}
        }
        .review_info {
            .hotel_name {font-size: 20px;}
            .review_text {font-size: 20px;}
        }
        .splide__arrows {
            position: relative;
            top: 190px;
            .splide__arrow {
                width: 50px;
                height: 50px;
                i {font-size: 20px;}
            }
        }
    }
}

@media (max-width: 424.98px) {
    .splide {
        .splide__track {
            width: 95%;
            margin: 0 auto;
            .splide__list {
                .splide__slide {
                    .review_item {
                        font-size: 20px;
                        font-weight: 500;
                        padding: 0 5%;
                        .review_header {
                            img {
                                width: 70px;
                                height: 70px;
                            }
                        }
                        .review_info {
                            img {
                                width: 140px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
        .splide__arrows {
            .splide__arrow {
            width: 35px;
            height: 35px;
            }
        }
    }
}