@use 'vars';
@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:wght@400..900&family=Playfair:opsz,wght@5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {width: 100%; overflow-x: hidden;}

body {
    position: relative;
    font-family: 'Playfair', serif;
    font-size: 20px;
    font-weight: 400;
    background: vars.$color-black;
    color: vars.$color-white;
    overflow-x: hidden;
}

.wrapper {margin: 0 5%;}

@media (max-width: 767.98px ) {
    .wrapper {margin: 0 10%;}
}

h5 {
        font-family: 'Playfair Display';
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 1px;
}

a {all: unset; cursor: pointer;}

// HEADER
@keyframes SlideFromTop {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    z-index: 3;
    background: vars.$color-header-black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    animation: SlideFromTop 1s ease-out forwards;

    .logo {
        display: block;
        height: 50px;
        width: 195px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 650px;
        margin: 0 30px;

        a {
            color: vars.$color-white;
            position: relative;
            display: inline-block;

            &::before {
                content: "";
                position: absolute;
                top: 25px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 2px;
                background: vars.$color-purple;
                transition: width 0.3s ease, transform 0.3s ease;
                border-radius: 24px;
            }

            @media (pointer: fine) {
                &:hover::before {
                width: 100%;
                transform: translateX(-50%);
                }
            }
        }
    }

    .language {
        display: flex;
        align-items: center;
        gap: 3px;
        cursor: pointer;
        i {transition: color 0.3s ease;}
        @media (pointer: fine) {
            &:hover {i {color: vars.$color-purple;}}
        }
    }

    .hamburger {
        display: none;
        margin-left: 15px;

        .line {
            display: block;
            width: 30px;
            height: 4px;
            margin: 6px 0;
            background: vars.$color-white;
            border-radius: 24px;
            transition: all 0.3s ease-in-out;
        }
    }
}

@media (max-width: 767.98px ) {
    header {
        padding: 20px 10%;
    }
    .logo{width: 150px;}

    header .hamburger {display: block; margin-right: 25px;}

    .hamburger.active .line:nth-child(1) {transform: translateY(10px) rotate(45deg);}

    .hamburger.active .line:nth-child(2) {opacity: 0;}

    .hamburger.active .line:nth-child(3) {transform: translateY(-10px) rotate(-45deg);}

    .nav_menu {
        position: fixed;
        flex-direction: column;
        right: -100%;
        top: 120px;
        margin: 0;
        transition: .4s;
        background: vars.$color-header-black;
        width: 50vh;
        height: 100vh;
        justify-content: flex-start;

        a {
            font-size: 30px;
            margin-bottom: 15px;
        }
    }

    ul.active {right: 0;}
}

// MAIN TRAVEL
.travel {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    @keyframes SlideFromLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .travel_title {
        text-align: left;
        animation: SlideFromLeft 1s ease-out forwards;
        h1{
            font-family: "Playfair Display", serif;
            font-size: 90px;
            line-height: 150px;
            letter-spacing: 3px;
            max-width: 750px;
        }
        p {
            margin-top: 20px;
            font-size: 32px;
            color: vars.$color-light-gray;
        }
    }

    @keyframes SlideFromRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .travel_request {
        margin-top: 210px;
        animation: SlideFromRight 1s ease-out forwards;

        .request_title {
            color: vars.$color-light-gray;
            text-align: center;
            letter-spacing: 1px;
            h4 {font-size: 28px;}
            h6 {
                font-size: 18px;
                margin-top: 5px;
            }
        }

        .request_input {
            margin-top: 30px;

            form {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 30px;
                column-gap: 30px;

                .input_wrapper {
                    position: relative;
                    input {
                    width: 100%;
                    height: 45px;
                    border-bottom: 1px solid vars.$color-input-gray;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    background: transparent;
                    padding: 0 15px;
                    box-sizing: border-box;
                    font-size: 18px;
                    color: vars.$color-gray;
                    text-align: center;
                    }

                    // исправление стилей при автозаполнении браузера (Chrome, Edge, Safari)
                    input:-webkit-autofill,
                    input:-webkit-autofill:hover,
                    input:-webkit-autofill:focus,
                    input:-webkit-autofill:active {
                        box-shadow: 0 0 0px 1000px transparent inset !important;
                        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
                        -webkit-text-fill-color: vars.$color-gray !important;
                        color: vars.$color-gray !important;
                        background: transparent !important;
                        border-bottom: 1px solid vars.$color-input-gray !important;
                        border-bottom-left-radius: 15px !important;
                        border-bottom-right-radius: 15px !important;
                        transition: background-color 9999s ease-out 9999s, color 9999s ease-out 9999s;
                        -webkit-transition: background-color 9999s ease-out 9999s, color 9999s ease-out 9999s;
                    }
                    // исправление стилей при автозаполнении браузера (Firefox)
                    input:-moz-autofill {
                    background: transparent !important;
                    color: vars.$color-gray !important;
                    border-bottom: 1px solid vars.$color-input-gray !important;
                    border-bottom-left-radius: 15px !important;
                    border-bottom-right-radius: 15px !important;
                    }

                    // скрытие стрелочек input number (Chrome, Safari, Edge)
                    input[type="number"]::-webkit-outer-spin-button,
                    input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    label {
                        position: absolute;
                        top: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        color: vars.$color-gray;
                        pointer-events: none;
                        transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
                        white-space: nowrap;
                    }

                    &.is-focused label,
                    &.has-value label {
                        top: -15px;
                        font-size: 18px;
                        color: vars.$color-purple;
                    }
                }

                .info {grid-column: span 2;}

                button {
                    color: vars.$color-white;
                    background: vars.$color-purple;
                    border-radius: 15px;
                    cursor: pointer;
                    transition: background 0.3s ease;
                    font-size: 16px;

                    @media (pointer: fine) {
                        &:hover {background: color.adjust(vars.$color-purple, $lightness: -4%);}
                    }
                }
            }

            .input_warning {
                margin-top: 10px;
                color: vars.$color-red;
                font-size: 18px;
                opacity: 0;
                transition: opacity 0.2s ease
            }

            .visible{opacity: 1;}
        }
    }
}

@media (max-width: 767.98px ) {
        .travel {
            display: flex;
            flex-direction: column;

            .travel_title {
                text-align: center;
                h1 {
                    font-size: 40px;
                    letter-spacing: 1px;
                    line-height: 70px;
                    text-align: center;
                    margin-top: 10px;
                }
                p {
                    font-size: 24px;
                    letter-spacing: 1px;
                    margin-top: 5px;
                }
            }

            .travel_request {
                margin-top: 70px;
                .request_title {
                    h4 {font-size: 26px;}
                    h6 {font-size: 16px;}
                }

                .request_input {
                    form {
                        grid-template-columns: repeat(2, 1fr);
                        button {
                            grid-column: span 2;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

// IMAGE BACKGROUND
.image-bg {
    position: relative;
    margin-top: 100px;
    z-index: 2;
    max-width: 100% ;
}

@media (max-width: 767.98px ) {
    .image-bg {margin-top: 20px;}
}

// MAIN COUNTRIES & HOTELS (HEADER)
.countries_header,
.hotels_header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .next_page {
        display: flex;
        color: vars.$color-white;
        background: vars.$color-purple;
        width: 120px;
        height: 40px;
        padding-right: 10px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        box-sizing: border-box;
        position: relative;

        i {
            position: absolute;
            top: 13px;
            left: 87px;
            transition: left .3s ease ;
            font-size: 14px;
        }

        @media (pointer: fine) {
            &:hover {i {left: 90px;}}
        }
    }
}

// MAIN COUNTRIES
.popular_countries {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;

    .country {
            cursor: pointer;

            .img_container {
                width: 250px;
                height: 200px;
                overflow: hidden;
                border-radius: 24px;

                img {
                width: 250px;
                height: 200px;
                transition: transform 0.3s ease-in-out;

                @media (pointer: fine) {
                    &:hover {transform: scale(1.2);}
                }
                }
            }

            p {
                text-align: center;
                font-size: 18px;
                color: vars.$color-light-gray;
                margin-top: 5px;
            }
    }
}

@media (max-width: 767.98px ) {
    .popular_countries {
        .country {
            p {
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }
}

// MAIN HOTELS
.hotels {
    .hotels_header {
        .next_page {
            padding-right: 8px;
            i {left: 85px;}
            @media (pointer: fine) {
                &:hover {i {left: 88px;}}
            }
        }
    }

    .hotels_inpection {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 50px;
        gap: 5%;

        .hotel {
            cursor: pointer;

            .img_container {
                width: 100%;
                overflow: hidden;
                border-radius: 24px;

                img {
                    width: 100%;
                    height: 100%;
                    transition: transform 0.3s ease-in-out;
                    @media (pointer: fine) {
                        &:hover {transform: scale(1.2);}
                    }
                }
            }

            h4 {
                font-family: 'Playfair Display';
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 1px;
                margin-top: 5px;
                margin-left: 3px;
            }

            div {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;

                h6 {
                    font-size: 18px;
                    color: vars.$color-light-gray;
                    letter-spacing: 1px;

                    i {
                        color: vars.$color-purple;
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px ) {
    .hotels {
        .hotels_inpection {
            grid-template-columns: repeat(2, 1fr);

            .hotel {
                h4 {font-size: 18px;}
                div {
                    h6 {font-size: 16px;}
                }
            }
        }
    }
}

// MAIN REVIEW
.review {
    margin-top: 100px;

    h5 {text-align: center;}
}

// MAIN ABOUT US
.about_us {
    margin-top: 100px;
    p {
        margin-top: 50px;
        color: vars.$color-light-gray;
        line-height: 36px;
        font-size: 24px;

        &:last-of-type {margin-top: 20px;}
    }

    .timeline_container {
        position: relative;
        margin-top: 100px;
        padding: 40px 0;

        .timeline {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                background: vars.$color-purple;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                border-radius: 24px;
            }

            .timeline-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                position: relative;

                .timeline-circle {
                    width: 10px;
                    height: 10px;
                    background: vars.$color-purple;
                    border-radius: 50%;
                    z-index: 1;
                }

                .timeline-text {
                    position: absolute;
                    width: 260px;
                    font-size: 24px;
                    letter-spacing: 1px;
                }


            }
        }

        .timeline-item--top-text {
                    .timeline-text-top {bottom: 20px;}
                }
    }

    .our_team {
        margin-top: 100px;
        h5{text-align: center;}

        .team {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            gap: 20%;

            img {max-width: 350px; width: 100%; height: auto;}

            h6 {
                margin-top: 10px;
                color: vars.$color-light-gray;
                text-align: center;
                font-size: 28px;
            }
        }
    }
}

@media (max-width: 767.98px ) {
    .about_us {
        margin-top: 0;
        p {margin-top: 30px;}

        .timeline_container {margin-top: 50px;}

        .our_team {
            margin-top: 50px;

            .team {
                margin-top: 30px;
                gap: 15%;

                h6 {font-size: 24px;}
            }

        }
    }
}

// FOOTER IMAGE BACKGROUND
.footer_bg {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

@media (max-width: 767.98px ) {
    .footer_bg {
        transform: scale(1.3);
    }
}

// FOOTER (CONTACTS)
.footer_wrapper {
    position: relative;
    margin-top: 200px;
    width: 100%;

    footer {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 300px;
        z-index: 1;

        .footer_content {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            text-align: center;
            color: vars.$color-light-gray;

            .footer_top_row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;

                h4 {font-size: 28px;}
                p {
                    font-size: 24px;
                    &:last-of-type {
                        font-size: 20px;
                        margin-top: 10px;
                    }
                }
            }

            .footer_bottom_row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 50px;

                .logo-mini {display: none;}

                i {color: vars.$color-purple; font-size: 40px;}
            }
        }
    }
}

@media (max-width: 767.98px ) {
    .logo {display: none;}

    .footer_wrapper {
        margin-top: 0;
        footer {
            .footer_content {
                .footer_top_row {
                    margin-top: 70px;
                    display: block;
                    h4{display: none;}
                }
                .footer_bottom_row {
                    margin-bottom: 20px;
                    .logo-mini {
                        display: block;
                        margin-left: 33px;
                    }
                }
            }
        }
    }
}